<?xml version="1.0" ?>
<launch>
    <!-- init spacemouse -->
    <include file="$(find spacenav_node)/launch/classic.launch"/>

    <!-- init velocity controller implemented based on franky -->
    <node pkg="moveit_franky_bridge"
            type="moveit_result_to_franky_goal.py"
            name="moveit_franky_bridge_node"
            output="log"/>

    <!-- init rviz moveit -->
    <include file="$(find franky_moveit_config)/launch/demo.launch"/>


    <node pkg="rosbag_recoder" 
        type="recorder_node.py"
        name="rosbag_recoder" 
        output="screen">
        <rosparam command="load" file="$(find rosbag_recoder)/config/recorder.yaml"/>
    </node>

    <!-- initialize force/torque sensor -->
    <node name = "ft_data_nodes" 
        pkg = "netft_utils"  
        type = "netft_node"
        output = "log" 
        args = "172.31.1.177"/> 
        <!-- args = "192.168.106.100"/> -->

    <!-- load force calibration result -->
    <include file="$(find netft_calib)/launch/check_netft_calib.launch"/>

    <!-- <rosparam command="load" file="$(find netft_calib)/config/netft_calib_result.yaml"/> -->
  
    <!-- check calibration -->
    <!-- <node name="netft_calib_node" pkg="netft_calib" type="pub_calib_result.py" output="log"/> -->

    <!-- load realsense cameras -->
    <!-- <include file="$(find franka_policy)/launch/rs_multiple_devices.launch"/> -->
    
    <!-- (start your tracking system's ROS driver) -->
     <group ns="eye_on_base">
        <include file="$(find realsense2_camera)/launch/rs_camera.launch">
            <arg name="serial_no" value="030522070773"/> 
            <arg name="tf_prefix" value="eye_on_base"/>
            <arg name="enable_color"      value="true"/>
            <arg name="enable_depth"      value="true"/>
            <arg name="enable_pointcloud" value="true"/>

        </include>
    </group>

    <group ns="eye_on_hand">
        <include file="$(find realsense2_camera)/launch/rs_camera.launch">
            <arg name="serial_no" value="733512070734"/>
            <arg name="tf_prefix" value="eye_on_hand"/>
            <arg name="enable_color"      value="true"/>
            <arg name="enable_depth"      value="true"/>
            <arg name="enable_pointcloud" value="true"/>
        </include>
    </group>   


    <!-- Hand-eye TF  -->
    <node pkg="easy_handeye"
          type="publish_base_to_camera.py"
          name="publish_base_to_camera"
          output="log"
          respawn_delay="10.0" />

    <node pkg="easy_handeye"
          type="publish_hand_to_camera.py"
          name="publish_hand_to_camera"
          output="log"
          respawn_delay="10.0" />

    <!--    US   pic  -->
    <include file="$(find usdev_framegrab)/launch/stream_usimg_dyncfg.launch"/>

</launch>

